* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background: linear-gradient(to right, #e0f2f1, #f1f8f6);
}
/* HEADER */
header {
    background-color: #80c70e;
    color: white;
    text-align: center;
    padding: 30px;
}
header h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
}
header p {
    margin-top: 8px;
    font-size: 16px;
}
/* BUTTONS */
.btn-container {
    text-align: center;
    margin: 20px;
}
.btn-container button {
    padding: 10px 22px;
    margin: 6px;
    background-color: #000002;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
.btn-container button:hover {
    background-color: #800c0c;
}
/* SECTIONS */
.section {
    display: none;
    max-width: 1000px;
    margin: auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
}
.section h2 {
    font-family: 'Poppins', sans-serif;
    color: #048e2e;
    margin-bottom: 20px;
}
/* COURSE CARD */
.course-card {
    background-color: #f0fdfa;
    padding: 20px;
    margin-top: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}
.course-card:hover {
    transform: scale(1.02);
}
.course-card h3 {
    margin-bottom: 6px;
}
/* PROGRESS BAR */
.progress {
    background-color: #cfd8dc;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 10px;
}
.progress-bar {
    background-color: #26a628;
    color: white;
    padding: 6px;
    text-align: center;
    font-weight: bold;
}
/* VIDEO */
.video-container {
    text-align: center;
}
iframe {
    width: 100%;
    height: 400px;
    border-radius: 12px;
    border: none;
}
/* FOOTER */
footer {
    background-color: #a40609;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
